@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .container {
        width: 100%;
    }

    .companies {
        padding: 10px;
    }

    .companies .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .panel, .comments {
        padding: 10px;
    }
}

@media (max-width: 767.98px) {
    .companies .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .panel__comment-text {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .navbar__link, .navbar__username {
        font-size: 14px;
    }

    .navbar__register {
        display: none;
    }

    .companies .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .panel {
        height: auto;
    }

    .panel__company-name {
        font-size: 18px;
    }

    .panel__group-wrap_left {
        flex-direction: column;
    }

    .comment, .form {
        width: 100%;
    }

    .login, .register {
        padding: 10px;
    }

    .login__link, .login__text-or {
        display: block;
    }
}