.panel {
    width: 100%;
    height: 70px;
    background-color: #e60000;
}

.panel .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel__group {
    display: flex;
    align-items: center;
}

.panel__company-name {
    margin-right: 20px;
    color: #fff;
}

.panel__btn {
    margin: 10px;
    border: 2px solid #000;
    padding: 5px;
    width: 50px;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.panel__btn:hover {
    color: #fff;
    background-color: #000;
}

.panel__comment-count {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.comment {
    margin: 10px auto;
    border: 1px solid #000;
    width: 70%;
}

.comment__username {
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #5e5e5e;
}

.comment__text {
    padding: 10px;
    width: 100%;
    background-color: #fff;
}

.comment__date {
    padding: 10px;
    width: 100%;
    background-color: #dadada;
}